project:
  type: website
  output-dir: docs
  resources:
    - media/**

website:
  title: "Nathaniel Grimes"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: research.qmd
        text: Research
      - href: teaching.qmd
        text: Teaching
        

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

